@import url("../../.cache/wal/colors-gtk3.css");

* {
    border: none;
	font-family: 'Roboto Mono Nerd';
	font-size: 14px;
	margin: 2px;
	color: @foreground;
}

/*
#window{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
    font-style: normal;
    border-radius: 100px;
}
*/

window#waybar{
	background: @color0Alpha;
    border-radius: 100px;
    border: solid 2px;
    border-color: @color2;
    color: @foreground;
}

tooltip{
	background-color: @backgroundAlpha;
	color: @foreground;
	border-radius: 10px;
}

#battery, #network, #pulseaudio, #cpu, #memory, #custom-pomodoro, #custom-face, #custom-notification{
    margin: 0px 10px;
}

#workspaces {
    background: @color0Alpha;
    border-radius: 100px;
    padding: 1px;
    font-weight: bolder;
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 5px;
    border-radius: 100px;
    background: @color0Alpha;
    transition: all 0.45s cubic-bezier(0.55,0.55,0,1);
}

#workspaces button.active {
	padding: 0 20px;
    background-color: @color2Alpha;
}

#workspaces button:hover {
    background-color: @color2Alpha;
}

#custom-launcher, #tray{
    background-color: @backgroundAlpha;
    border-radius: 100px;
}

#custom-launcher {
    color: @color5;
    background: @backgroundAlpha;
}

#window{
	padding: 2px;
}

#media{
	border-radius: 100px;
	background: linear-gradient(225deg, @backgroundAlpha 50%, @color1Alpha 50%);
	background-color: @backgroundAlpha;
	color: @background;
	font-weight: bolder;
}

#mpd, #mpris{
    margin: 0 10px;
}

#custom-notification, #custom-randpaper{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-image: url("/home/molives/.face");
    border: solid 1px @color6;
    padding: 0px 13px;
	margin: 0px;	
}

#custom-randpaper{
	background-image: url("/home/molives/.config/hypr/scripts/current_wal")
}

#general, #clock, #custom-randpaper, #custom-pomodoro
{
	background-color: @backgroundAlpha;
	border-radius: 100px;
    padding: 0px 5px;
}

#custom-pomodoro{
	background-color: @color2;
	color: @foreground;
}

#window{
	border-radius: 100px;
	background-color: @color0Alpha;
}
